<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col mt-4 mb-4 text-center">Fullness: @Model.Fullness</div>
                <div class="col mt-4 mb-4 text-center">Happiness: @Model.Happiness</div>
                <div class="col mt-4 mb-4 text-center">Meals: @Model.Meals</div>
                <div class="col mt-4 mb-4 text-center">Energy: @Model.Energy</div>
            </div>
            <div class="row border border-dark">
                <div class="col">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 mt-4 mb-4 text-center">Picture</div>
                        </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4 mt-4 mb-4 text-center">@Model.Message</div>
                    </div>
                </div>
            </div>
            <div class="row">
                @if (@Model.Fullness <= 0 || @Model.Happiness <= 0 || (@Model.Energy >= 100 && @Model.Fullness >= 100 && @Model.Happiness >= 100))
                {
                    <div class="col mt-4 mb-4 text-center">
                        <form action="/restart" method="POST">
                            <button type="submit" name="restart">Restart</button>
                        </form>
                    </div>
                }
                else
                {
                <div class="col mt-4 mb-4 text-center">
                    <form action="/feed" method="POST">
                        <button type="submit" name="feed">Feed</button>
                    </form>
                </div>                
                <div class="col mt-4 mb-4 text-center">
                    <form action="/play" method="POST">
                        <button type="submit" name="play">Play</button>
                    </form>
                </div>
                <div class="col mt-4 mb-4 text-center">
                    <form action="/work" method="POST">
                        <button type="submit" name="work">Work</button>
                    </form>
                </div>
                <div class="col mt-4 mb-4 text-center">
                    <form action="/sleep" method="POST">
                        <button type="submit" name="sleep">Sleep</button>
                    </form>
                </div>
                }
            </div>
        </div>
    </div>
</div>